.container {
  display: flex;
  gap: 1.5rem;
  scroll-margin-top: 10rem;
}
.title {
  font-size: 3.375rem;
  font-weight: 800;
}
.subTitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}
.image {
  width: 32.45rem;
}
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
