.overvlow {
  overflow: hidden;
}
.modalBackDrop {
  position: fixed;
  display: flex;
  top: 6em;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 2em 1.71em;
  background: var(--black-24, rgba(0, 0, 0, 0.24));
  backdrop-filter: blur(40px);
  overflow: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.opacity {
  visibility: visible;
  opacity: 1;
}
.container {
  position: relative;
  transform: translateY(-100vh);
  transition: all 0.5s ease-in-out;
}
.containerActive {
  transform: translateY(0);
  width: 100%;
}
@media (orientation: portrait) {
  .modalBackDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
