.container {
  padding: 3.75rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../assets/images/bg_top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--white, #fff);
  font-family: Stolzl;
  font-size: 4.625rem;
  font-weight: 700;
}
.title span {
  background: var(--gradient-269);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item {
  padding: 1rem 4rem;
  border-radius: 0.75rem;
  background-color: var(--gradient-105);
  backdrop-filter: var(--bd-filter);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item:hover,
.item:focus {
  background-color: var(--gradient-105_2);
}
.social {
  fill: var(--white);
  width: 2rem;
  height: 2rem;
}
.buttonsList {
  composes: list;
  margin-top: 2rem;
  margin-bottom: 20.75rem;
}
.btnIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  fill: var(--white);
}
@media (orientation: portrait) {
  .container {
    background: url("../../assets/images/bg_top_mob.jpg");
  }
  .buttonsList {
    margin-bottom: 2rem;
  }
}
