.image {
  width: 100%;
}
.imgContainer {
  /* width: 70rem;
  height: 27.75rem; */
}
.title {
  margin-bottom: 2rem;
  font-size: 3.375rem;
  font-weight: 800;
}
.container {
  text-align: center;
}
