.titleList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2.5rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.4);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #000 33%,
    #000 66%,
    transparent
  );
}
.titleItem {
  color: var(--white, #fff);
  font-size: 3.375rem;
  font-weight: 800;
  /* margin-bottom: 0.87rem; */
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.activeTitle {
  opacity: 1;
}
.activeTitle p {
  width: 10rem;
  height: 0.375rem;
  margin: 0.5rem auto 0;
  border-radius: 0.375rem 0.375rem 0rem 0rem;
  background: var(--primary, #817eff);
}
.list {
  position: relative;
  display: flex;
}
.item {
  display: flex;
  align-items: center;
  opacity: 1;
  gap: 2.5rem;
  transition: opacity 0.3s ease-in-out;
}
.image {
  width: 33.05rem;
}
.textContainer p {
  margin-bottom: 1.5rem;
  color: var(--white, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}
.inActiveContent {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
