@import "../node_modules/modern-normalize/modern-normalize.css";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #fff;
  --black-40: rgba(0, 0, 0, 0.4);
  --white-8: rgba(255, 255, 255, 0.08);
  --white-16: rgba(255, 255, 255, 0.16);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);
  --primary: #817eff;
  --primary-80: rgba(129, 126, 255, 0.8);
  --secondary: #c2c0ff;
  --gradient-269: linear-gradient(269deg, #817eff 55.96%, #fff 99.05%);
  --gradient-266: linear-gradient(266deg, #817eff 55.76%, #fff 98.63%);
  --gradient-105: hsla(0, 0%, 100%, 0.16);
  --gradient-105_2: hsla(0, 0%, 100%, 0.08);
  --bg: #0d1323;
  --grey-bg: rgba(183, 205, 255, 0.24);
  --grey2-bg: rgba(255, 255, 255, 0.08);
  --purple-bg: rgba(129, 126, 255, 0.24);
  --bd-filter: blur(20px);
}
html,
body {
  /* height: 100vh; */
  font-size: 1.1vw;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  scroll-behavior: smooth;
  color: var(--white);
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
img,
video {
  display: block;
  width: 100%;
  height: auto;
}
main {
  background: url(./assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
@font-face {
  font-family: "Stolzl";
  font-weight: 700;
  src: local("Stolzl"),
    url(./assets/fonts/Stolzl/Stolzl\ Bold.otf) format("opentype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: local("Manrope"),
    url(./assets/fonts/Manrope/Manrope-Medium.ttf) format("opentype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: local("Manrope"),
    url(./assets/fonts/Manrope/Manrope-SemiBold.ttf) format("opentype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: local("Manrope"),
    url(./assets/fonts/Manrope/Manrope-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: local("Manrope"),
    url(./assets/fonts/Manrope/Manrope-ExtraBold.ttf) format("opentype");
}

.swiper-slide {
  margin-right: 1.5rem;
}
