.container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
  background: var(--white-8, rgba(255, 255, 255, 0.08));
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.activeContainer {
  background: rgba(129, 126, 255, 0.24);
}
.titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 200%;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.activeArrow {
  transform: rotate(0deg);
}

.text {
  color: var(--white-80, rgba(255, 255, 255, 0.8));
  font-weight: 500;
  line-height: 175%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.activeText {
  padding-top: 1rem;
}
@media (orientation: portrait) {
  .title {
    max-width: 25rem;
    text-align: start;
    font-size: 2.5rem;
  }
  .text {
    text-align: start;
    font-size: 1.68rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
