.container,
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  scroll-margin-top: 10rem;
}
.titleContainer {
  margin-bottom: 2.5rem;
}
.title {
  font-size: 3.375rem;
  font-weight: 800;
}
.title span {
  background: linear-gradient(267deg, #817eff 60.18%, #fff 98.73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subTitle {
  max-width: 50rem;
  color: var(--white, #fff);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 160%;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
.item {
  display: flex;
  align-items: center;
  width: calc(50% - 0.75rem);
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: var(--white-8, rgba(255, 255, 255, 0.08));
}
.iconContainer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  background: linear-gradient(315deg, #3c39cc 0%, #9d9bff 100%);
  gap: 0.625rem;
}
.icon {
  width: 2rem;
  height: 2rem;
}
@media (orientation: portrait) {
  .subTitle {
    font-size: 2rem;
  }
  .list {
    flex-direction: column;
  }
  .item {
    width: 100%;
    align-items: normal;
  }
  .iconContainer {
    width: 5.6rem;
    height: 5.6rem;
  }
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .description {
    font-size: 1.8rem;
  }
}
